/* FONTS */

@font-face {
    font-family: myFontBrush;
    src: url(Daft-Brush.otf);
  }

@font-face {
    font-family: myFontMikado;
    src: url(HVDFonts-MikadoRegular.otf);
  }

@font-face {
    font-family: MyFontSunday;
    src: url(Sunday-Regular.otf);
}

@font-face {
    font-family: MyFontSean;
    src: url(Hand_Of_Sean_Demo.ttf);
}


/* COLORS */

.blue {
    color: #0069AB;
}

.lightblue {
    color: #00B8F1;
}

.tirquise {
    color: #4EBEA4;
}

.green {
    color: #00AB6C;
}

.lightgreen {
    color: #A4CE4C;
}

.yellow {
    color: #FFDD2E;
}

.orange {
    color: #FBAF33;
}

.red {
    color: #EE404A;
}

.purple {
    color: #873F97;
}
.pink {
    color: #EE4D93;
}

/* STYLES */

body {
    /* width: 100%;
    height: 100vh; */
    font-family: 'MyFontMikado', sans-serif;
    margin: 0 auto;
    background-image: linear-gradient(#FFF5D5, #fff);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

section {
    margin: 20px;
    /* text-align: center; */
}
.subject {
    font-family: MyFontBrush;
    background-color: #EE4D93;
    padding: 5px 25px;
    color: white;
}

.subject-2 {
    font-family: 'Grandstander', sans-serif;
    padding: 5px 40px;
    color: white;
    background-color: #0069AB;
    font-size: 18px;
    font-weight: bolder;
    margin-left: -20px;
}

.title-1 {
    font-size: 38px;
    font-family: MyFontSunday;
    color: #FBAF33;
}

.title-1 > h1 {
    margin: 5px auto 20px;
    text-align: center;
}

.subtitle {
    font-family: 'Grandstander', sans-serif;
    margin-bottom: 1rem;
    font-size: 18px;
    font-weight: 300;
    color: #fff;
    line-height: 22px;
    display: inline-block;
    font-variant-caps: small-caps;
    text-align: center;
  }
  
.subtitle .highlight {
    display: inline;
    background: #FBAF33;
    padding: 1px;
  }

.subtitle.sub-1 .highlight {
    box-shadow: 10px 0 0 #FBAF33, -10px 0 0 #FBAF33;
  }

.rotate-1 {
    display:inline-block;
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    writing-mode: lr-tb;
}

.rotate-2 {
    display:inline-block;
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    writing-mode: lr-tb;
}

/* BUBBLE */

.bubble-container {
    position: absolute; 
    top: 320px;
    left: 140px;
    z-index: 4;
}
.bubble {
    font-size: 10px;
    max-width:200px;
    margin:auto;
    padding: 15px;
    position:relative;
    background-color: #fff;
    color: #EE4D93;
    border-radius: 5px;
    font-family: MyFontSean, sans-serif;
    /* box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    transition: 0.15s ease-in;
}
  .bubble:after{
    content:"";
    display:inline-block;
    border-style:solid;
    border-width:10px 10px 0;
    border-color:#fff transparent;
    position:absolute;
    bottom:-9px;
    left:20px;
  }

  .bubble p {
      margin: 0;
  }

  /* BUTTON */

  .button {
    /* margin:100px; */
    display: block;
    position: absolute;
    top: 420px;
    left: 170px;
    transform: translate(-50%, -50%); 
    width: 25px;
    height: 25px;
    border: #fff 2px solid;
    border-radius: 50%;
    background: #ffd900;
    cursor: pointer;
    box-shadow: 0 0 0 rgba(255, 255, 255, 0.4);
    animation: pulse 2s infinite;
    z-index: 3;
  }

  /* GRID */

  .grid-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
  }

  .grid-container-2 {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
  }

  .item-1 {
      grid-column: 1/5;
      padding: 5px;
      /* position: relative; */
  }
  .item-2 {
      grid-column: 5/8;
      /* padding: 10px; */
      margin: auto;
      margin-left: 20px;
      font-size: 10px;
  }

  .item-3 {
    grid-column: 1/5;
}

.item-4 {
    grid-column: 5/9;
    margin: auto;
}

/* IMAGES */

  .responsive {
    width: 100%;
    /* max-width: 400px; */
    /* min-width: 120px; */
    /* height: auto; */
    /* float: right; */
    /* margin: 5px; */
  }

.img-rotate-1 {
    transform: rotate(-2deg);
}

.border-pink {
    border: 5px solid #EE4D93;
}

.border-orange {
    border: 5px solid #FBAF33;
}

.border-img {
    border-radius: 10px;
}

.one {
    transform: rotate(3deg);
}

.two {
    transform: rotate(-1deg);
    margin-top: -15px;
}

/* TEXT */
.text-details {
    font-size: 0.7rem;
}
.text-details span.pink {
    font-family: 'MyFontSean', sans-serif;
}

.text-details > span {
    font-weight: bolder;
}

.articletext span {
    font-weight: 900;
    font-family: 'Grandstander', sans-serif;
}

.qatext {
    font-size: 14px;
}

.qatext span {
    font-weight: bold;
}

.qatext .heading-s {
    display: block;
    font-family: 'MyFontSunday', sans-serif;
    color: #EE4D93;
    font-size: 16px;
    text-align: center;
    padding-top: 10px;
    margin: 0 auto;
}

.item-3 .qatext {
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    padding:5px;
    background:hsla(67, 95%, 95%, 1);
    border:double 7px #FFDD2E;
}

p.quote {
    text-align: center;
    font-family: 'MyFontSunday', sans-serif;
    font-size: 20px;
    margin: 20px auto;
}

.quote-2 {
    text-align: center;
    font-weight: 300;
}

@-webkit-keyframes pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.8);
    }
    70% {
        -webkit-box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
  }
  @keyframes pulse {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.8);
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
        box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
  }


/* 
@media only screen and (max-width: 800px) {
    .main {
        /* width: 90%; *
        padding: 0;
    }

    .container .img > p {
        width: 80%;
        margin-top: 30px;
        padding: 30px 20px;
        font-size: 20px;
    }

    .one {
        transform: rotate(4deg);
    }
    
    .two {
        transform: rotate(-2deg);
        /* margin-top: -20px; *
        margin-right: 30px;
    }


}

@media only screen and (max-width:500px) {
    /* For mobile phones: *
    .container .img > p {
        width: 80%;
        margin-top: 30px;
        padding: 6px 5px;
        font-size: 15px;
    }
} */